@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/nevermind.min.css");
@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{mjs,js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: "Soyuz Grotesk";
    src:
        url("/fonts/Soyuz_Grotesk_Bold.otf") format("opentype"),
        url("/fonts/SoyuzGroteskBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-nevermind: "NeverMind", sans-serif;
    --font-soyuz: "Soyuz Grotesk", sans-serif;
    --color-orange: #ff4314;
    --color-black: #101010;
    --color-white: #fff;
    --color-gray: rgba(16, 16, 16, 0.6);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-onest);
    --font-mono: ui-monospace, monospace;
    --font-nevermind: var(--font-nevermind);
    --font-soyuz: var(--font-soyuz);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-onest);
}
